<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="#">
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <header class="mb-4">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand d-inline-block">
                    <span class="full-text">{{ title }}</span>
                    <small><a href="https://coord.info/{{ geocode }}" title="Voir sur geocaching.com">{{ geocode }}</a></small>
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
                {% if app.user is not null %}
                    <div class="d-flex">
                        <span class="navbar-text connected">
                            <img src="{{ app.user.avatarUrl }}" height="30" width="30" />
                            {{ app.user.username }} – 
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </span>
                    </div>
                {% endif %}
            </div>
            </nav>
        </header>

        <main class="flex-shrink-0">
            <div class="container">
            {% block body %}{% endblock %}
            </div>
        </main>

    </body>
</html>
